<!DOCTYPE html>
<html>
<head>
  <title>Lista de compras</title>
</head>
<!--
  Buenas noches, disculpe si el código se ve como un completo desastre, ahora mismo estos escribiendolo con
  dos redbulls en mi organismo y dos horas de sueño por una crisis existencial causado por leer los libros de filosofía de mi colegio
  en paralelo con la Biblia (no es una buena idea) y aparte tengo que realizar el apartado de diseño del proyecto integrador de saberes,
  con todo espero este código funcione
  
  Este contador determina las horas que he estado en este trabajo (incluyendo las horas que traté de instalar Angular en Linux ya que
  no funciona apropiadamente y tiene varias dependencias faltantes que dificultan el uso)
  
  Horas= 10
-->
<body>

<!--  Separaré la lista de compras en diferentes secciones de acuerdo al apartado al que pertenecen (cocina, limpieza, etc.)  -->

  <h1>Lista de compras</h1> 
    <section>
      <h2>Comida</h2>
      <ul>
        <li>Pollo entero</li>
        <li>Chocolate</li>
        <li>Fideos</li>
        <li>Queso</li>
        <li>Salami</li>
        <li>Harina integral</li>
      </ul>
    </section>

    <section>
      <h2>Productos de limpieza</h2>
      <ul>
        <li>Desinfectante</li>
        <li>Alcohol etílico</li>
        <li>Pastillas desodorantes</li>
        <li>Escobas</li>
      </ul>
    </section>

    <section>
      <h2>Productos miscaleneos</h2>
      <ul>
        <li>Tractor John Deere tracción AWD para construcción</li>
        <li>Taladro percutor Stanley con sistema de transmisión híbrida 6000RPM</li>
        <li>Uranio-238</li>
        <li>Glicerina</li>
        <li>Permanganato de potasio</li>
      </ul>
    </section>
</body>
</html>
